NEXT_PUBLIC_SITE_URL=https://seu-dominio.com.br
NEXT_PUBLIC_WHATSAPP_NUMBER=5511999999999
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/seu-perfil
NEXT_PUBLIC_CONTACT_EMAIL=contato@seu-dominio.com.br
